 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/cd0e909a52c7834162b51000e5667c7f4d9fbc5950c686ba4ff7d2c916b73a4ef3375ec064c4d56e29b6c4b7ebb2b13af2fdc9f939b5eb4f9439f4_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 944px;
}

.u-section-1 .u-image-1 {
  width: 387px;
  height: 387px;
  margin: 146px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 7px 359px 0 329px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  background-image: linear-gradient(to right, #72efe9, #478ac9);
  margin: 167px -50px 0 auto;
  padding: 23px 52px 24px 51px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  background-image: linear-gradient(to right, #72efe9, #478ac9);
  margin: -78px auto 0 -42px;
  padding: 23px 52px 23px 51px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  background-image: linear-gradient(to right, #72efe9, #478ac9);
  margin: -78px 452px 0 auto;
  padding: 23px 58px 24px 56px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  background-image: linear-gradient(to right, #72efe9, #478ac9);
  margin: -79px 192px 0 auto;
  padding: 23px 60px 23px 59px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  background-image: linear-gradient(to right, #72efe9, #478ac9);
  margin: -76px auto 60px 227px;
  padding: 23px 83px 24px 82px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -387px;
  }

  .u-section-1 .u-text-1 {
    width: 452px;
    margin-top: 0;
    margin-left: 229px;
    margin-right: 259px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 376px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -247px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 91px;
    margin-right: 252px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -187px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -139px;
    margin-left: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 119px;
    margin-right: 149px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 32px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 29px;
    margin-right: 59px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 316px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -294px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 28px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: 146px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
    margin-top: 372px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-bottom: 0;
  }
}

.u-section-1 .u-btn-5 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-btn-5:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-2 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-btn-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-3 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-btn-3:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-4 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-btn-4:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-btn-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: url("images/a4ba7630c0270acdd4a1bc9ed7b95e59da76bb8142be0160a5b937841fd9dd7cc8c9a0decd79a0b09138e30216a5a64aab10c957a81e2b369109bc_1280.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 734px;
}

.u-section-2 .u-form-1 {
  margin-bottom: 0;
  margin-top: 60px;
  height: 200px;
}

.u-section-2 .u-form-group-1 {
  margin-bottom: 0;
}

.u-section-2 .u-form-group-2 {
  margin-top: 20px;
}

.u-section-2 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-list-1 {
  margin: 17px 0 60px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 375px;
}

.u-section-2 .u-list-item-1 {
  transition-duration: 0.75s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-image-1 {
  width: 129px;
  height: 92px;
  margin: 16px 53px 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 16px auto 0;
}

.u-section-2 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-list-item-2 {
  transition-duration: 0.75s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-image-2 {
  width: 129px;
  height: 92px;
  margin: 16px 53px 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 16px auto 0;
}

.u-section-2 .u-list-item-3 {
  transition-duration: 0.75s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-image-3 {
  width: 129px;
  height: 92px;
  margin: 16px 53px 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 16px auto 0;
}

.u-section-2 .u-list-item-4 {
  transition-duration: 0.75s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-image-4 {
  width: 129px;
  height: 92px;
  margin: 16px 53px 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 16px auto 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 703px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 309px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 538px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 947px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 404px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 254px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

.u-section-2 .u-list-item-1 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-2 .u-list-item-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-2 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-2 .u-list-item-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-3 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-2 .u-list-item-3:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-4 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-2 .u-list-item-4:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
} .u-section-3 {
  background-image: url("images/28c9812a26c33bd8f3015d5a455bb70fdc9aa21422404a16067892b0682adb8dee84ee1915cae4ab6efa5adffcced67519d6e5cd68b79599853593_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1508px;
}

.u-section-3 .u-list-1 {
  width: 1100px;
  margin: 0 auto 42px;
}

.u-section-3 .u-repeater-1 {
  min-height: 1267px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 146px 146px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/27350821-0.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-3 .u-image-2 {
  width: 100px;
  height: 100px;
  margin: 13px auto 0 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -90px 34px 0 142px;
}

.u-section-3 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 31px auto 0 260px;
  padding: 8px 36px 9px 35px;
}

.u-section-3 .u-icon-1 {
  color: rgb(215, 90, 74) !important;
}

.u-section-3 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -43px auto 0 120px;
  padding: 8px 36px 9px 35px;
}

.u-section-3 .u-icon-2 {
  color: rgb(0, 0, 0) !important;
}

.u-section-3 .u-image-3 {
  background-image: url("images/27350821-0.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-3 .u-image-4 {
  width: 100px;
  height: 100px;
  margin: 13px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -90px 34px 0 142px;
}

.u-section-3 .u-btn-3 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 31px auto 0 260px;
  padding: 8px 36px 9px 35px;
}

.u-section-3 .u-icon-3 {
  color: rgb(215, 90, 74) !important;
}

.u-section-3 .u-btn-4 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -43px auto 0 120px;
  padding: 8px 36px 9px 35px;
}

.u-section-3 .u-icon-4 {
  color: rgb(0, 0, 0) !important;
}

.u-section-3 .u-image-5 {
  background-image: url("images/27350821-0.jpeg");
}

.u-section-3 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-3 .u-image-6 {
  width: 100px;
  height: 100px;
  margin: 13px auto 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -90px 34px 0 142px;
}

.u-section-3 .u-btn-5 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 31px auto 0 260px;
  padding: 8px 36px 9px 35px;
}

.u-section-3 .u-icon-5 {
  color: rgb(215, 90, 74) !important;
}

.u-section-3 .u-btn-6 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -43px auto 0 120px;
  padding: 8px 36px 9px 35px;
}

.u-section-3 .u-icon-6 {
  color: rgb(0, 0, 0) !important;
}

.u-section-3 .u-image-7 {
  background-image: url("images/27350821-0.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-3 .u-image-8 {
  width: 100px;
  height: 100px;
  margin: 13px auto 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -90px 34px 0 142px;
}

.u-section-3 .u-btn-7 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 31px auto 0 260px;
  padding: 8px 36px 9px 35px;
}

.u-section-3 .u-icon-7 {
  color: rgb(215, 90, 74) !important;
}

.u-section-3 .u-btn-8 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -43px auto 0 120px;
  padding: 8px 36px 9px 35px;
}

.u-section-3 .u-icon-8 {
  color: rgb(0, 0, 0) !important;
}

.u-section-3 .u-image-9 {
  background-image: url("images/27350821-0.jpeg");
}

.u-section-3 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-3 .u-image-10 {
  width: 100px;
  height: 100px;
  margin: 13px auto 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -90px 34px 0 142px;
}

.u-section-3 .u-btn-9 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 31px auto 0 260px;
  padding: 8px 36px 9px 35px;
}

.u-section-3 .u-icon-9 {
  color: rgb(215, 90, 74) !important;
}

.u-section-3 .u-btn-10 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -43px auto 0 120px;
  padding: 8px 36px 9px 35px;
}

.u-section-3 .u-icon-10 {
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1243px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -120px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 100px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -118px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 54px;
    margin-left: 100px;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-6 {
    margin-top: -23px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-5 {
    margin-left: 100px;
  }

  .u-section-3 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-8 {
    margin-top: -120px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-7 {
    margin-top: 54px;
    margin-left: 100px;
  }

  .u-section-3 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-10 {
    margin-top: -120px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-9 {
    margin-top: 54px;
    margin-left: 100px;
  }

  .u-section-3 .u-btn-10 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 952px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-9 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -205px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 30px;
    margin-left: 87px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 82px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -112px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 87px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: -89px;
  }

  .u-section-3 .u-image-6 {
    margin-top: -158px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 87px;
  }

  .u-section-3 .u-image-8 {
    margin-top: -112px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 87px;
  }

  .u-section-3 .u-btn-7 {
    margin-top: -89px;
  }

  .u-section-3 .u-image-10 {
    margin-top: -112px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 87px;
  }

  .u-section-3 .u-btn-9 {
    margin-top: -89px;
  }
} height: 70px;
            background: rgb(2, 0, 36);
            background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 19%, rgba(0, 212, 255, 1) 77%);;
            margin-top: -25px;
            margin-right: -10px;
            margin-left: -10px;